body {
  width: 9.93in;
  background: #fff;
  margin: auto;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.64);
}

.title {
  font: 400 30px/40px Roboto, "Helvetica Neue", sans-serif;
  margin: 0px 0px 5px;

}

.sub-title {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  margin: 0px 0px 5px;
}

.heading {
  font: 600 22px/34px Georgia, serif;
  margin: 0px 0px 5px;
}

.sub-heading-1 {
  font: 600 18px/32px Georgia, serif;
}

.sub-heading-2 {
  font: 500 16px/28px Roboto, "Helvetica Neue", sans-serif;
}

.sub-heading-3 {
  font: 400 14px/24px Roboto, "Helvetica Neue", sans-serif;
}

.padding-wrapper {
  padding: 0px 15px 0px 20px;
}

.wrapper {
  display: flex;
  /* width: 70%; */
  margin: 20px 0px 20px 10px;
}

.left-section {
  flex: 1 1 30%;
  padding: 10px;
}

.skills > div,
.experience > div,
.education > div,
.language > div,
.interests > div {
  margin: 20px 0px;
}

.skills > div div {
  margin-bottom: 10px;
  line-height: 28px;
}

.skills > div:first-of-type .experience > div:first-of-type,
.education > div:first-of-type {
  margin-top: 10px;
}

.skills > div div span {
  background-color: #3f51b5;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  vertical-align: baseline;
  text-align: center;
}

.experience > div,
.education > div {
  display: flex;
  flex-direction: column;
}

.experience > div div:nth-of-type(2),
.education > div div:nth-of-type(2) {
  display: flex;
  place-content: space-between;
}

.experience > div div:first-of-type,
.education > div div:first-of-type{
  margin-right: 10px;
}

.left-section > *,
.right-section > * {
  margin-bottom: 20px;
}

.left-section .personal-info div{
  margin-bottom: 5px;
}

.left-section .personal-info div:first-child{
  margin-top: 2px;
}

.left-section .personal-info div:last-child{
  margin-bottom: 0;
}

.my-pic,
.about {
  margin-bottom: 30px;
}

.left-section section:last-child,
.right-section section:last-child {
  margin-bottom: 0px;
}

.left-section .my-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.right-section {
  flex: 1 1 70%;
  padding: 10px 0px;
}

.right-section hr {
  margin-right: 20px;
}

.about p {
  margin: 0px;
}

.personal-info i {
  margin-right: 10px;
}

.about {
  background-color: #3f51b5;
  color: #fff;
  padding: 10px 20px;
  height: 130px;
  display: flex;
  flex-direction: column;
}

.apply-color {
  color: #3f51b5;
}

hr {
  margin: 0px;
  border-top: 2px solid #3f51b5;
}

a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.64);
}
a {
  color: rgba(0, 0, 0, 0.64);
  text-decoration: underline;
  background-color: transparent;
}

.interests div > span {
  color: #3f51b5;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0 15px;
  line-height: 34px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  margin-right: 20px;
  min-width: 64px;
  border-radius: 4px;
}

.lang-content div:last-child{
  display: flex;
  align-items: center;
  flex: 1 1 70%
}

.lang-content div:first-child{
  display: flex;
  align-items: center;
  flex: 1 1 30%
}

.lang-content{
  display: flex;
  flex-direction: row;
}

.lang-content div:last-child .circle{
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 1.5px solid #3f51b5;
  margin-right: 10px;
  box-shadow: inset 0 0 0 1.5px #fff;
}

.lang-content div:last-child .circle:last-child{
  margin-right: 0px;
}
